@media (max-width:1024px) {
    /* About Section */

}

@media (max-width:991px) {
    /* Custom Classes */


    /* navbar brand  */

    /* Banner Design  */


    /* carosuel Design */
}

@media (max-width:767px) {
    /* Custom Css */

    /* Top banner */

    /* story section  */

    /* carousel design */

    /* news letter */

    /* footer link */
}

@media (max-width:330px) {
    /* carousel design */

}